@media screen and (max-width: 1740px) {
    .header-add {
        .header-addBlock {
            .info-block {
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                align-items: center;
                .item {
                    &:nth-child(1) {
                        display: flex;
                        flex-direction: column;
                        gap: 5px;
                    }
                    &:nth-child(2) {
                        > ul {
                            display: flex;
                            text-align: center;
                            gap: 10px;
                            li {
                                gap: 5px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1499px) {
    .sliderMainSection {
        .sliderMainBlock {
            .swiper {
                .swiper-wrapper {
                    height: 300px;
                    .swiper-slide {
                        position: relative;
                        display: flex;
                        .desc {
                            position: absolute;
                            bottom: 76px;
                            left: 0;
                            padding: 16px 38px 16px 30px;
                            background-color: $black;
                            font-size: var(--fz48);
                            color: $white;
                            text-transform: uppercase;
                            font-weight: 700;
                        }
                    }
                }
                .swiper-button-next, .swiper-button-prev {
                    color: $black;
                    padding: 37px 10px;
                    background-color: $lgrey;
                    &::after {
                        font-size: 18px;
                    }
                }
                .swiper-button-next, .swiper-rtl .swiper-button-prev {
                    right: 0;
                }
                .swiper-button-prev, .swiper-rtl .swiper-button-next {
                    left: 0;
                }
            }
        }
    }
}
// @media screen and (max-width: 1370px) {
//     .container {
//         width: none;
//     }
//     .newProductSection {
//         width: auto;
//         .newProductBlock {
//             width: auto;
//         }
//     }
// }
@media screen and (max-width: 700px) {
    header {
        .header {
            .info-block {
                display: flex;
                flex-direction: column;
            }
        }
    }
}